body {
    background-color: #e4e4e4;
    display: flex;
}

aside {
    background-color: #fff;
    width: 250px;
}

.profile {
    padding: 30px;
}

.profile img {
    width: 100%;
}

.item {
    background-color: #fff;
    padding: 30px;
    margin: 30px;
}
