body {
    background-color: #e4e4e4;
    display: flex;
}

h3 {
    margin: 0px;
}

aside {
    background-color: #fff;
    width: 250px;
}

.profile {
    padding: 30px;
}

.profile img {
    width: 100%;
}

.item {
    background-color: #fff;
    padding: 30px;
    margin: 30px;
}

.info-graphic {
    display: flex;
    justify-content: space-between;
}

.info-sprint {
    display: flex;
    flex-direction: column;
}